 ul{

    list-style-type:none;
   

}

ul li{
    display:inline-block;
     width:90px;
      margin:auto;
      overflow:hidden;
}
ul li a{
   
   text-decoration: none;
     color:white;
     

}
